.site-header {
  position: relative;
  height: 100vh;
  background: linear-gradient(180deg, 45B69C, 21D19F));
  overflow: hidden;
}

.site-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-image: url(https://i.pinimg.com/474x/7f/a2/74/7fa274049b2bcd73a0542c12f8cc6b8e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  transform: translateY(300px) scale(1.2);
  animation: clear 0.5s forwards;
}